.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.country {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast {
  display: flex;
  justify-content: space-between;
}
