.forecast {
  background-color: #fff;
  padding: 1rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.icon-left,
.icon-right {
  font-size: 1.5rem;
  position: absolute;
  top: 5%;
  border: none;
  background-color: transparent;
}

.icon-left {
  left: 5%;
}

.icon-right {
  right: 5%;
}
