.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.country {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.weather {
  display: flex;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
