.card {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 97px);
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .card {
    min-height: calc(100vh - 111px);
  }
}
