.card {
  display: flex;
  flex-direction: column;
  margin: 5rem;
  height: calc(100vh - 220px);
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 0.3rem;
  gap: 1rem;
}

.nav {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #f0f0f0;
}

.info {
  display: flex;
  justify-content: space-around;
}

.country {
  display: flex;
  flex-direction: column;
}

.holder {
  display: flex;
  gap: 1rem;
}

.country-info {
  display: flex;
  flex-direction: column;
}

.meteorology {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.weather-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
