/* .card {
  display: flex;
  flex-direction: column;
  margin: 5rem;
  height: calc(100vh - 220px);
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 0.3rem;
  gap: 1rem;
}

.nav {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #f0f0f0;
}

.nav-item {
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--black);
  color: #fff;
  padding: 0.375rem 0.75rem;
  font-size: 1.1rem;
  line-height: 1.5;
}

.nav-item:hover {
  background-color: var(--black-hover);
}

.nav-item:active {
  background-color: var(--black-active);
}

.active {
  background-color: var(--blue);
}

.active:hover {
  background-color: var(--blue-hover);
}

.active:active {
  background-color: var(--blue-active);
}

.unit {
  margin-left: auto;
}

.info {
  display: flex;
  justify-content: space-around;
  height: 60%;
  align-items: center;
} */

.card {
  display: flex;
  flex-direction: column;
  height: calc(100% - 97px);
  justify-content: space-between;
}
