.weather {
  background-color: #fff;
  padding: 1rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.weather-info {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}
