.weather {
  background-color: #fff;
  padding: 1rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.weather-info {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .weather {
    padding: 1rem;
    border-top-left-radius: 0;
    border-bottom-right-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 25%;
  }

  .weather-info {
    flex-direction: column;
    gap: 1rem;
  }
}
