.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.weather {
  display: flex;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
