.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.weather {
  display: flex;
  gap: 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.time {
  font-weight: normal !important;
  font-size: 14px;
}
