.container {
  display: flex;
  flex-direction: column;
}

.unopened {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: #fff;
  line-height: 2;
}

.location {
  display: flex;
  flex-direction: column;
}

.city-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.city {
  font-weight: normal;
}

.time {
  font-size: 14px;
  margin-left: 0.2rem;
}

.navigator,
.close,
.temp,
.option {
  font-size: 2rem;
  border: none;
  background-color: transparent;
  transition: 0.2s;
  cursor: pointer;
}

.navbar {
  height: 100vh;
  width: 100vw;
  z-index: 100;
  transition: 0.5s;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
  color: #fff;
  margin-bottom: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temp {
  background-color: #fff;
  color: #929292;
  padding: 0.2rem 0.4rem;
  border-radius: 50%;
}

.options {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  gap: 1rem;
  color: #fff;
}

.active {
  color: var(--blue);
}

@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .city-group {
    font-size: 20px;
  }

  .time {
    font-size: 1rem;
  }

  .navigator,
  .close {
    display: none;
  }

  .navbar {
    transform: translateX(0) !important;
    height: auto;
    width: auto;
    z-index: 0;
    transition: 0s;
    position: static;
    top: auto;
    right: auto;
    background-color: transparent;
    backdrop-filter: initial;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    gap: 1rem;
  }

  .navbar div {
    margin-bottom: 0 !important;
    width: auto;
  }

  .icons,
  .navbar div:last-child {
    margin-left: auto;
    margin-right: 1rem;
  }
}
