.form {
  width: 300px;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.search,
.btn {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.search {
  padding: 0 8px;
  vertical-align: middle;
  border-radius: 0.4rem;
  width: 100%;
  min-height: 36px;
  background-color: #fff;
  border: 1px solid rgba(36, 28, 21, 0.3);
  transition: all 0.2s ease-in-out 0s;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

:focus {
  outline: none;
  border: 1px solid var(--black);
  box-shadow: inset 0 0 0 1px var(--black);
}

.btn {
  cursor: pointer;
  border: none;
  background-color: var(--blue);
  color: #fff;
}
