.form {
  width: 300px;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.search {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  background-color: #06f;
  color: #fff;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}
