.card {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  line-height: 0.6;
  color: #fff;
  padding: 1rem;
}

.condition {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.condition-text {
  font-weight: normal;
}

.temp {
  font-size: 4rem;
  font-weight: normal;
}
