.country {
  display: flex;
  flex-direction: column;
}

.holder {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.country-info {
  display: flex;
  flex-direction: column;
}

.time {
  margin-top: 1rem;
}
