@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root {
  --blue: #06f;
  --blue-hover: #005de7;
  --blue-active: #0058db;
  --black: #3e3f41;
  --black-hover: #2c2c2e;
  --black-active: #171718;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  background: url("./assets/sunny.webp") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
