h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

h6 {
  margin-top: 1rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

body {
  background-image: url('./assets/images/wallpaper.jpg');
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#weather-details {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-top: 5%;
}

.current-weather {
  display: flex;
  background-image: url('./assets/images/pexels-paul-voie-2627945.jpg');
  background-position: center;
  background-size: cover;
  color: #fff;
  width: 70%;
  justify-self: end;
  align-items: end;
}

.current-weather * {
  margin: 0;
}

.current-weather h1 {
  margin-right: 1rem;
  margin-left: 3rem;
}

.country-details p,
.current-weather h1,
.condition-details p {
  margin-bottom: 5rem;
}

.condition-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
  justify-self: start;
}

.condition-details img {
  width: min-content;
}

.bro {
  background-color: rgba(53, 53, 68, 0.6);
  color: #fff;
  justify-self: start;
  width: 50%;
}

.bro * {
  margin-left: 2rem;
}

.test2 ul {
  padding: 0;
  list-style: none;
  margin-left: 0;
}

.test2 li {
  padding: 0.3rem 0 0.3rem 0;
}
